################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMQInit/.vs/RabbitMQInit/v16
/Receive/bin/Debug/netcoreapp3.1
/Receive/obj
/Send/bin/Debug/netcoreapp3.1
/Send/obj
